In [62]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_pickle('/content/ML_Lab2/lab2-T2-data.pkl')

In [63]:
print(df.tail(5))

                    title subtitle            series                author  \
666  You Know You Love Me      NaN   Gossip Girl, #2  Ziegesar, Cecily von
667  You Know You Love Me      NaN   Gossip Girl, #2  Ziegesar, Cecily von
668  You Know You Love Me      NaN   Gossip Girl, #2  Ziegesar, Cecily von
669  You Know You Love Me      NaN   Gossip Girl, #2  Ziegesar, Cecily von
670              You Suck      NaN  A Love Story, #2    Moore, Christopher

    my_rating avg_rating                 publisher    binding  pages  \
666       3.0       3.52                     Poppy  Paperback    240
667       3.0       3.52                     Poppy  Paperback    240
668       3.0      13.52                     Poppy  Paperback    240
669       3.0      -3.52                     Poppy  Paperback    240
670       3.0       3.81  William Morrow & Company  Hardcover    328

    year_published month_read  month_read_num  year_read bookshelf
666           2002      April               4       2020      read
667          -2002      April               4       2020      read
668           2002      April               4       2020      read
669           2002      April               4       2020      read
670           2007      April               4       2012      read

In [64]:
np.sum([df.isnull()])

1035

In [65]:
for columns in df:
  print(columns)
  s = df[columns]
  print(np.sum(s.isnull()))

title
0
subtitle
453
series
549
author
0
my_rating
31
avg_rating
0
publisher
2
binding
0
pages
0
year_published
0
month_read
0
month_read_num
0
year_read
0
bookshelf
0

In [66]:
df1 = df[df.my_rating.notnull()]

In [67]:
print(df1.shape)

(640, 14)

In [68]:
df1.my_rating = df1.my_rating.astype(float)
df1.avg_rating = df1.avg_rating.astype(float)
df1.year_published = df1.year_published.astype(int)

<ipython-input-68-c1a5638a08df>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.my_rating = df1.my_rating.astype(float)
<ipython-input-68-c1a5638a08df>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.avg_rating = df1.avg_rating.astype(float)
<ipython-input-68-c1a5638a08df>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.year_published = df1.year_published.astype(int)

In [69]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 640 entries, 0 to 670
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           640 non-null    object
 1   subtitle        203 non-null    object
 2   series          121 non-null    object
 3   author          640 non-null    object
 4   my_rating       640 non-null    float64
 5   avg_rating      640 non-null    float64
 6   publisher       638 non-null    object
 7   binding         640 non-null    object
 8   pages           640 non-null    int64
 9   year_published  640 non-null    int64
 10  month_read      640 non-null    object
 11  month_read_num  640 non-null    int64
 12  year_read       640 non-null    int64
 13  bookshelf       640 non-null    object
dtypes: float64(2), int64(4), object(8)
memory usage: 75.0+ KB
None

In [70]:
df1.loc[df1.subtitle.isnull(), 'subtitle'] = ' '
df1.loc[df1.series.isnull(), 'series'] = ' '
df1.loc[df1.publisher.isnull(), 'publisher'] = ' '

In [71]:
print(df1[df1.year_published < 0].title)

61                   Bad Dog
85                Calico Joe
122               Die Trying
169         Garden of Beasts
250               Life of Pi
461        The First Husband
491    The King of Methlehem
667     You Know You Love Me
Name: title, dtype: object

In [72]:
print(df1.shape)

(640, 14)

In [73]:
df1 = df1[df1.year_published > 0]

In [74]:
df1 = df1[df1.my_rating >= 0]
df1 = df1[df1.my_rating <= 5]
df1 = df1[df1.avg_rating >= 0]
df1 = df1[df1.avg_rating <= 5]

In [75]:
print(df1.shape)

(622, 14)

In [76]:
group_author = df1.groupby('author')
group_author.count()
group_author['author'].count()

author
Abramowitz, Andy         1
Ackerley, J.R.           1
Adams, David             1
Adler, Joseph            1
Adler, Steven            1
                        ..
Zerby, Chuck             1
Zevin, Gabrielle         1
Ziegesar, Cecily von     7
Zlozower, Neil           1
de Hamel, Christopher    1
Name: author, Length: 452, dtype: int64

Find the name of the author who publishes the most.

In [77]:
df_num = group_author['author'].count()
max = 0
max_author = ''
for author in df_num.index:
  if df_num[author] > max:
    max = df_num[author]
    max_author = author
print(max_author, max)

Grisham, John 22

Display the author who published the most data with published books and years.

In [81]:
for author, subset in df1.groupby('author'):
  if author == max_author:
    print(author)
    for index, row in subset.iterrows():
      print(row['title'], end=', ')
      print(row['year_published'])

Grisham, John
A Time to Kill, 1989
Calico Joe, 2012
Ford County, 2008
Playing for Pizza, 2007
Rogue Lawyer, 2015
Sycamore Row, 2013
The Associate, 2009
The Brethren, 2000
The Broker, 2005
The Chamber, 1994
The Confession, 2010
The King of Torts, 2003
The Last Juror, 2004
The Litigators, 2011
The Partner, 1997
The Racketeer, 2012
The Rooster Bar, 2018
The Street Lawyer, 1998
The Summons, 2002
The Testament, 1999
The Whistler, 2016
Theodore Boone, 2010